.card {
    border-collapse: collapse;
    border: 10px solid #2fa75f;
    margin: 0 auto 25px;
    background: #f7f2ef;
}
.card th {
    background: #2fa75f;
    color: #f7f2ef;
    font-size: 4em;
    text-align: center;
}
.card th, .card td {
    width: 120px;
    height: 120px;
}
.card td {
    border: 3px solid #2fa75f;
    text-align: center;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: center;
    padding: 5px;
    background: #f7f2ef;
    color: #252e33;
    font-size: 1.25em;
    font-weight: 400;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 1.5em;
    line-height: normal;
    border-radius: 8px;
}