<table id="card" class="card" ng-class="{winner: game.isWon}">
    <tr>
        <th>B</th>
        <th>I</th>
        <th>N</th>
        <th>G</th>
        <th>O</th>
    </tr>
    <tr ng-repeat="row in game.rows">
        <td ng-repeat="cell in row.cells" ng-class="{selected: cell.isSelected, winner: cell.isWinner, free: ($index==12)}" ng-click="updateCell(cell)">{{cell.word}}</td>
    </tr>
</table>

<div class="col-md-12 text-center">
    <button type="button" class="btn btn-xlarge btn-success" onclick="window.location.reload()">New Card</button>
</div>
